:root {
  --primary-color: #6c63ff;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--secondary-font-family);
  text-align: center;
}
.header h1 {
  padding: 90px 0 0 0;
  font-family: var(--primary-font-family);
  font-size: 80px;
}
.header {
  text-align: center;
  margin: 30px 30px;
  padding: 40px 30px;
}
.hero h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 36px;
}

.hero h3 {
  font-size: 25px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.hero {
  background: var(--secondary-color);
  padding: 250px 60px;
  text-align: center;
}
.project-description {
  padding: 120px 60px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 960px) {
  h2,
  p {
    text-align: center;
    display: block;
    max-width: 100%;
  }
  a.email-link {
    font-size: 20px;
  }
  .header h1 {
    font-size: 45px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 45px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 15;
  }
  p {
    font-size: 15px;
  }
  .project-description {
    padding: 0;
  }
  .navigation-links a {
    margin: 5px;
  }
}
